.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;


  /* color: #ffffff; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
}


.navbar-left {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #1f1f1f; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);


  display: flex;
  align-items: center;
}


.hamburger-icon {
  font-size: 20px;
  color: #e0e0e0;
}


.navbar-right .navbar-logo {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #1f1f1f;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;

  
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  letter-spacing: 1px;
  transition: transform 0.7s, opacity 0.3s;
}



.navbar-right .navbar-logo:hover {
  transform: scale(0.95);
}

/* Drawer */
.navbar-drawer {
  background-color: #1c1c1c !important;
  color: white;
}

.anticon-close {
  color: white;
  font-size: x-large
}

.ant-menu-root {
  background-color: #1c1c1c;
}

/* Menu */
.navbar-menu .ant-menu-item {
  color: #ffffff !important;
  transition: transform 0.7s;
  font-size: 23px;
  padding: 20px;
  height: 100%;
}

a {
  text-decoration: none;
}

.navbar-menu .ant-menu-item:hover {
  transform: scale(.95);
}